body {
    background-color: black;
    background: url(../img/juego-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#menu_superior{
	background-color: black;
    background: url(../img/na-bg.jpg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.vertical-center{

  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.horizontal-center{
    
    text-align: center;
}
.div_contindentes{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px;
    border-radius: 5px;
    text-decoration-color: 

}
.img_batalla_jugador{
    float: left;
}
.img_batalla_enemigo{
    float: right;
}